# =========================
# PlatformIO (firmware)
# =========================
firmware/.pio/
firmware/.vscode/
firmware/.idea/

# Arquivos locais / sensíveis
firmware/include/secrets.h

# =========================
# Python (webapp)
# =========================
firmware/webapp/venv/
webapp/venv
venv/
.env


__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Logs
# =========================
*.log

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporários
# =========================
*.tmp
*.bak
*.swp

.vscode/
dados.json
database.db